################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CapMonsterCloud.Client/obj
/CapMonsterCloud.Client/bin
